body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100%;
    line-height: 1.6;
    background: #212c3f;
    color: rgb(200, 199, 199);
    /* position: relative; */
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-bottom: 1em;
    font-size: 50px;
}

.buttons {
    display: flex;
    width: 200px;
    margin: 0 auto;
}

.btn input {
    border-radius: 5px;
    background: rgb(65, 131, 117);
    color: rgb(238, 243, 248);
    border: 1px solid white;
    padding: 0.5em;
    cursor: pointer;
}

.new {
    margin-right: auto;
}

.text-game {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin: 1px;
}

table {
    border-collapse: collapse;
    width: 60%;
    height: auto;
    margin: 0 auto;
    position: fixed;
    left: 0;
    right: 0;
}

table, tr, td {
    border: solid 2px rgb(194, 190, 190);
}

td {
    width: 150px;
    height: 150px;
    cursor: pointer;
    text-align: center;
    font-size: 80px;
}

.play-container {
    display: grid;
    place-items: center;
    padding: 0.5em;
    background: #212c3f;
    height: 100vh;
    position: absolute;
    left: 0;
    right: 0;
    top: 8em;
}

.player input {
    height: 2.5em;
    padding: 0.3em;
    color: white;
    background: #212c3f;
    border: 2px solid #606672;
}

.player {
    margin-bottom: 1em;
}

.play-btn input {
    background: green;
    color: white;
    border: 2px solid #212c3f;
    border-radius: 5px;
    padding: 0.5em;
    width: 90px;
    cursor: pointer;
}

.play-btn {
    text-align: center;
}
